<div class="album py-5 bg-light">
    <div class="container">
        <div class="container d-flex justify-content-center text-center mb-4">
            <h1>Popular specialists</h1>
        </div>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
                <div class="card shadow-sm">
                    <img src="https://source.unsplash.com/1600x900/?covid,DOCTOR" class="card-img-top img-fluid"
                        width="100%" height="225" alt="...">
                    <div class="card-body text-center">
                        <h5 class="card-title">COVID CONSULTATION</h5>
                        <p class="card-text m">With supporting text below as a natural therapy
                        </p>
                        <button (click)="bookAppointment()" type="button"
                            class="btn btn-outline-dark btn-light border-2 rounded-3">Book
                            Appointment</button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <img src="https://source.unsplash.com/1600x900/?PHYSICIAN,DOCTOR" class="card-img-top img-fluid"
                        width="100%" height="225" alt="...">
                    <div class="card-body text-center">
                        <h5 class="card-title">CONSULTANT PHYSICIAN</h5>
                        <p class="card-text m">With supporting text below as a natural therapy
                        </p>
                        <button type="button" class="btn btn-outline-dark btn-light border-2 rounded-3">Book
                            Appointment</button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <img src="https://source.unsplash.com/1600x900/?GYNECOLOGY,DOCTOR" class="card-img-top img-fluid"
                        width="100%" height="225" alt="...">
                    <div class="card-body text-center">
                        <h5 class="card-title">GYNECOLOGY</h5>
                        <p class="card-text m">With supporting text below as a natural therapy
                        </p>
                        <button type="button" class="btn btn-outline-dark btn-light border-2 rounded-3">Book
                            Appointment</button>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card shadow-sm">
                    <img src="https://source.unsplash.com/1600x900/?PEDIATRICS,DOCTOR" class="card-img-top img-fluid"
                        width="100%" height="225" alt="...">
                    <div class="card-body text-center">
                        <h5 class="card-title">PEDIATRICS</h5>
                        <p class="card-text m">With supporting text below as a natural therapy
                        </p>
                        <button type="button" class="btn btn-outline-dark btn-light border-2 rounded-3">Book
                            Appointment</button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <img src="https://source.unsplash.com/1600x900/?DERMATOLOGY,DOCTOR" class="card-img-top img-fluid"
                        width="100%" height="225" alt="...">
                    <div class="card-body text-center">
                        <h5 class="card-title">DERMATOLOGY</h5>
                        <p class="card-text m">With supporting text below as a natural therapy
                        </p>
                        <button type="button" class="btn btn-outline-dark btn-light border-2 rounded-3">Book
                            Appointment</button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <img src="https://source.unsplash.com/1600x900/?PSYCHIARTY,DOCTOR" class="card-img-top img-fluid"
                        width="100%" height="225" alt="...">
                    <div class="card-body text-center">
                        <h5 class="card-title">PSYCHIARTY</h5>
                        <p class="card-text m">With supporting text below as a natural therapy
                        </p>
                        <button type="button" class="btn btn-outline-dark btn-light border-2 rounded-3">Book
                            Appointment</button>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card shadow-sm">
                    <img src="https://source.unsplash.com/1600x900/?ENT,DOCTOR" class="card-img-top img-fluid"
                        width="100%" height="225" alt="...">
                    <div class="card-body text-center">
                        <h5 class="card-title">ENT</h5>
                        <p class="card-text m">With supporting text below as a natural therapy
                        </p>
                        <button type="button" class="btn btn-outline-dark btn-light border-2 rounded-3">Book
                            Appointment</button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <img src="https://source.unsplash.com/1600x900/?ORTHOPEDICS,DOCTOR" class="card-img-top img-fluid"
                        width="100%" height="225" alt="...">
                    <div class="card-body text-center">
                        <h5 class="card-title">ORTHOPEDICS</h5>
                        <p class="card-text m">With supporting text below as a natural therapy
                        </p>
                        <button type="button" class="btn btn-outline-dark btn-light border-2 rounded-3">Book
                            Appointment</button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <img src="https://source.unsplash.com/1600x900/?NUTRITION COUNSELLING,DOCTOR"
                        class="card-img-top img-fluid" width="100%" height="225" alt="...">
                    <div class="card-body text-center">
                        <h5 class="card-title">NUTRITION COUNSELLING</h5>
                        <p class="card-text m">With supporting text below as a natural therapy
                        </p>
                        <button type="button" class="btn btn-outline-dark btn-light border-2 rounded-3">Book
                            Appointment</button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <img src="https://source.unsplash.com/1600x900/?CARDIOLOGY,DOCTOR" class="card-img-top img-fluid"
                        width="100%" height="225" alt="...">
                    <div class="card-body text-center">
                        <h5 class="card-title">CARDIOLOGY</h5>
                        <p class="card-text m">With supporting text below as a natural therapy
                        </p>
                        <button type="button" class="btn btn-outline-dark btn-light border-2 rounded-3">Book
                            Appointment</button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <img src="https://source.unsplash.com/1600x900/?DIABETOLOGY,DOCTOR" class="card-img-top img-fluid"
                        width="100%" height="225" alt="...">
                    <div class="card-body text-center">
                        <h5 class="card-title">DIABETOLOGY</h5>
                        <p class="card-text m">With supporting text below as a natural therapy
                        </p>
                        <button type="button" class="btn btn-outline-dark btn-light border-2 rounded-3">Book
                            Appointment</button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <img src="https://source.unsplash.com/1600x900/?GASTROENTEROLOGY,DOCTOR"
                        class="card-img-top img-fluid" width="100%" height="225" alt="...">
                    <div class="card-body text-center">
                        <h5 class="card-title">GASTROENTEROLOGY</h5>
                        <p class="card-text m">With supporting text below as a natural therapy
                        </p>
                        <button type="button" class="btn btn-outline-dark btn-light border-2 rounded-3">Book
                            Appointment</button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <img src="https://source.unsplash.com/1600x900/?GENERAL MEDICINE,DOCTOR"
                        class="card-img-top img-fluid" width="100%" height="225" alt="...">
                    <div class="card-body text-center">
                        <h5 class="card-title">GENERAL MEDICINE</h5>
                        <p class="card-text m">With supporting text below as a natural therapy
                        </p>
                        <button type="button" class="btn btn-outline-dark btn-light border-2 rounded-3">Book
                            Appointment</button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <img src="https://source.unsplash.com/1600x900/?PULMONOLOGY,DOCTOR" class="card-img-top img-fluid"
                        width="100%" height="225" alt="...">
                    <div class="card-body text-center">
                        <h5 class="card-title">PULMONOLOGY</h5>
                        <p class="card-text m">With supporting text below as a natural therapy
                        </p>
                        <button type="button" class="btn btn-outline-dark btn-light border-2 rounded-3">Book
                            Appointment</button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <img src="https://source.unsplash.com/1600x900/?PSYCHOLOGY,DOCTOR" class="card-img-top img-fluid"
                        width="100%" height="225" alt="...">
                    <div class="card-body text-center">
                        <h5 class="card-title">PSYCHOLOGY</h5>
                        <p class="card-text m">With supporting text below as a natural therapy
                        </p>
                        <button type="button" class="btn btn-outline-dark btn-light border-2 rounded-3">Book
                            Appointment</button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <img src="https://source.unsplash.com/1600x900/?NEPHROLOGY,DOCTOR" class="card-img-top img-fluid"
                        width="100%" height="225" alt="...">
                    <div class="card-body text-center">
                        <h5 class="card-title">NEPHROLOGY</h5>
                        <p class="card-text m">With supporting text below as a natural therapy
                        </p>
                        <button type="button" class="btn btn-outline-dark btn-light border-2 rounded-3">Book
                            Appointment</button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <img src="https://source.unsplash.com/1600x900/?ASTHEMOLOGY,DOCTOR" class="card-img-top img-fluid"
                        width="100%" height="225" alt="...">
                    <div class="card-body text-center">
                        <h5 class="card-title">ASTHEMOLOGY</h5>
                        <p class="card-text m">With supporting text below as a natural therapy
                        </p>
                        <button type="button" class="btn btn-outline-dark btn-light border-2 rounded-3">Book
                            Appointment</button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <img src="https://source.unsplash.com/1600x900/?ALLERGOLOGY,DOCTOR" class="card-img-top img-fluid"
                        width="100%" height="225" alt="...">
                    <div class="card-body text-center">
                        <h5 class="card-title">ALLERGOLOGY</h5>
                        <p class="card-text m">With supporting text below as a natural therapy
                        </p>
                        <button type="button" class="btn btn-outline-dark btn-light border-2 rounded-3">Book
                            Appointment</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>