<div class="text-center">
    <div class="container cscon">
        <main class="form-signin cscon2">
            <form (ngSubmit)="loggin()">

                <h1 class="h3 mb-3 fw-normal">Please sign in</h1>


                <div class="form-floating">
                    <input type="email" class="form-control form-width" id="floatingInput"
                        placeholder="name@example.com">
                    <label for="floatingInput">Email address</label>
                </div>
                <div class="form-floating mt-3">
                    <input type="password" class="form-control form-width" id="floatingPassword" placeholder="Password">
                    <label for="floatingPassword">Password</label>
                </div>

                <div class="checkbox mt-3">
                    <label>
                        <input type="checkbox" value="remember-me"> Remember me
                    </label>
                </div>
                <button class="w-100 btn btn-lg btn-primary mt-1 p-2" type="submit">Sign
                    in</button>

                <p class="text-center mt-3"> Don't Have an account? <a href="./index2.html">Sign Up</a> </p>
            </form>

        </main>

    </div>
</div>